AIEnrichmentPipeline/logicapp/videoworkflow/armtemplate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowName": {
            "type": "string"
        },
        "viAccountId": {
            "type": "string"
        },
        "viApiKey": {
            "type": "securestring"
        },
        "viLocation":{
            "type": "string"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        }
    },
    "variables": {
        "viConnName": "[concat(parameters('workflowName'), 'viconn')]",
        "viConnectionApiID": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/videoindexer-v2')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('viConnName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[variables('viConnName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[variables('viConnectionApiID')]"
                },
                "parameterValues": {
                    "api_key": "[parameters('viApiKey')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('viConnName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Location": {
                            "defaultValue": "[parameters('location')]",
                            "type": "String"
                        },
                        "viLocation": {
                            "defaultValue": "[parameters('viLocation')]",
                            "type": "String"
                        },
                        "AccountID": {
                            "defaultValue": "[parameters('viAccountId')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "canonicalUri": {
                                            "type": "string"
                                        },
                                        "correlationId": {
                                            "type": "string"
                                        },
                                        "fileName": {
                                            "type": "string"
                                        },
                                        "fileCategory": {
                                            "type": "string"
                                        },
                                        "sasExpiry": {
                                            "type": "string"
                                        },
                                        "sasUri": {},
                                        "systemVersion": {
                                            "type": "string"
                                        },
                                        "hash": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "operationOptions": "EnableSchemaValidation",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "runs": 50,
                                    "maximumWaitingRuns": 100
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "SuccessResponse": {
                                    "runAfter": {},
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "@body('Get_Video_Index')",
                                        "statusCode": 200
                                    },
                                    "operationOptions": "Asynchronous"
                                }
                            },
                            "runAfter": {
                                "Wait_until_video_is_processed": [
                                    "Succeeded",
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "ErrorResponse": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": {
                                                "message": "Error: Failed to process video"
                                            },
                                            "schema": {
                                                "properties": {
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "statusCode": 500
                                        },
                                        "operationOptions": "Asynchronous"
                                    },
                                    "Terminate": {
                                        "runAfter": {
                                            "ErrorResponse": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Terminate",
                                        "inputs": {
                                            "runError": {
                                                "code": "500",
                                                "message": "Failed to process video"
                                            },
                                            "runStatus": "Failed"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('viResult')",
                                            "Processed"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Get_Account_Access_Token": {
                            "runAfter": {
                                "Initialize_viProcessingStates": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['videoindexer-v2']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/auth/@{encodeURIComponent(parameters('viLocation'))}/Accounts/@{encodeURIComponent(parameters('AccountID'))}/AccessToken",
                                "queries": {
                                    "allowEdit": true
                                }
                            },
                            "description": "Get Video Indexer account access token."
                        },
                        "Initialize_viProcessingStates": {
                            "runAfter": {
                                "Initialize_viResult": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "viProcesingStates",
                                        "type": "array",
                                        "value": [
                                            "uploaded",
                                            "processing"
                                        ]
                                    }
                                ]
                            }
                        },
                        "Initialize_viResult": {
                            "runAfter": {},
                            "trackedProperties": {
                                "correlationId": "@{triggerBody()?['correlationId']}",
                                "fileName": "@{triggerBody()?['fileName']}",
                                "systemVersion": "@{triggerBody()?['systemVersion']}"
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "viResult",
                                        "type": "string"
                                    }
                                ]
                            },
                            "description": "Initialize the variable viResult, which stored the state of the video indexer job."
                        },
                        "Upload_video_and_index": {
                            "runAfter": {
                                "Get_Account_Access_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['videoindexer-v2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(parameters('viLocation'))}/Accounts/@{encodeURIComponent(parameters('AccountID'))}/Videos",
                                "queries": {
                                    "accessToken": "@body('Get_Account_Access_Token')",
                                    "language": "Arabic",
                                    "name": "@triggerBody()?['fileName']",
                                    "videoUrl": "@{triggerBody()?['sasUri']}"
                                }
                            },
                            "description": "Upload the video to Video Indexer and initiate the job."
                        },
                        "Wait_until_video_is_processed": {
                            "actions": {
                                "Delay_by_iteration_*_30_seconds": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": "@mul(add(iterationIndexes('Wait_until_video_is_processed'), 1), 30)",
                                            "unit": "Second"
                                        }
                                    },
                                    "description": "Delay by 3 minutes."
                                },
                                "Get_Video_Index": {
                                    "runAfter": {
                                        "Delay_by_iteration_*_30_seconds": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['videoindexer-v2']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/@{encodeURIComponent(parameters('viLocation'))}/Accounts/@{encodeURIComponent(parameters('AccountID'))}/Videos/@{encodeURIComponent(body('Upload_video_and_index')?['id'])}/Index",
                                        "queries": {
                                            "accessToken": "@body('Get_Account_Access_Token')",
                                            "language": "English"
                                        }
                                    },
                                    "description": "Attempt to get the video indexer result for the uploaded video"
                                },
                                "Set_viResult_On_Failure": {
                                    "runAfter": {
                                        "Get_Video_Index": [
                                            "Failed"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "viResult",
                                        "value": "Error"
                                    }
                                },
                                "Set_viResult": {
                                    "runAfter": {
                                        "Get_Video_Index": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "viResult",
                                        "value": "@{body('Get_Video_Index')?['state']}"
                                    },
                                    "description": "Set the viResult variable to the value of the video indexer job state."
                                }
                            },
                            "runAfter": {
                                "Upload_video_and_index": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@not(contains(variables('viProcesingStates'), toLower(variables('viResult'))))",
                            "limit": {
                                "count": 120,
                                "timeout": "PT1H"
                            },
                            "type": "Until",
                            "description": "Check periodically whether the Video Indexer job has finished."
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "videoindexer-v2": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('viConnName'))]",
                                "connectionName": "videoindexer-v2",
                                "id": "[variables('viConnectionApiID')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logic_app_id": {
            "value": "[resourceId('Microsoft.Logic/workflows',parameters('workflowName'))]",
            "type": "string"
        },
        "logic_app_uri": {
            "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers',parameters('workflowName'),'manual'), '2017-07-01').value]",
            "type": "string"
        }
    }
}