VideoSearchWithAutoMLVision/deployment/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "defaultValue": "eastus",
            "type": "String"
        },
        "subscriptionId": {
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "workflows_bloblistenerapp_name": {
            "defaultValue": "bloblistenerapp",
            "type": "String"
        },
        "connections_videoindexer_v2_name": {
            "defaultValue": "videoindexer-v2",
            "type": "String"
        },
        "workflows_video_flow_logic_app_name": {
            "defaultValue": "video_flow_logic_app",
            "type": "String"
        },
        "storageAccounts_videostorageacct_name": {
            "defaultValue": "vistorageacct",
            "type": "String"
        },
        "insightsContainerName": {
            "defaultValue": "videoindexerinsights",
            "type": "String"
        },
        "mediaContainerName": {
            "defaultValue": "media",
            "type": "String"
        },
        "workflows_enrich_with_classifications_name": {
            "defaultValue": "classifier",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-01-01",
            "name": "[parameters('storageAccounts_videostorageacct_name')]",
            "location": "[parameters('location')]",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "allowSharedKeyAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('connections_azureblob_name')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', parameters('subscriptionId'),'/providers/Microsoft.Web/locations/', parameters('location'),'/managedApis/', parameters('connections_azureblob_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_videoindexer_v2_name')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "video flow",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', parameters('subscriptionId'),'/providers/Microsoft.Web/locations/', parameters('location'),'/managedApis/', parameters('connections_videoindexer_v2_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_bloblistenerapp_name')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmbWVkaWE=": "[concat('/', parameters('mediaContainerName'))]"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/batch/onupdatedfile",
                                "queries": {
                                    "checkBothCreatedAndModifiedDateTime": false,
                                    "folderId": "JTJmbWVkaWE=",
                                    "maxFileCount": 10
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_SAS_URI_by_path": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Permissions": "Read"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/CreateSharedLinkByPath",
                                "queries": {
                                    "path": "@triggerBody()?['Path']"
                                }
                            }
                        },
                        "Run_the_Indexer_flow": {
                            "runAfter": {
                                "Create_SAS_URI_by_path": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "blobinfo": {
                                        "batchid": "",
                                        "canonicaluri": "@{body('Create_SAS_URI_by_path')?['WebUrl']}",
                                        "correlationid": "345",
                                        "fileName": "@{triggerBody()?['Name']}",
                                        "fileType": "video/mp4",
                                        "sasExpiry": "never",
                                        "sasUri": "@{body('Create_SAS_URI_by_path')?['WebUrl']}",
                                        "systemVersion": "2"
                                    }
                                },
                                "method": "POST",
                                "uri": "ENTER TRIGGER URL FOR INDEXER LOGIC APP HERE"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "[parameters('connections_azureblob_name')]",
                                "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-01-01",
            "name": "[concat(parameters('storageAccounts_videostorageacct_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_videostorageacct_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2021-01-01",
            "name": "[concat(parameters('storageAccounts_videostorageacct_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_videostorageacct_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2021-01-01",
            "name": "[concat(parameters('storageAccounts_videostorageacct_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_videostorageacct_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_video_flow_logic_app_name')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_videoindexer_v2_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "AccountID": {
                            "defaultValue": "",
                            "type": "String"
                        },
                        "Location": {
                            "defaultValue": "eastus",
                            "type": "String"
                        },
                        "augmentationUrl": {
                            "defaultValue": "ENTER AUGMENTATION TRIGGER URL HERE",
                            "type": "String"
                        },
                        "parserUrl": {
                            "defaultValue": "ENTER URL TO PARSER API HERE",
                            "type": "String"
                        },
                        "viLocation": {
                            "defaultValue": "eastus",
                            "type": "String"
                        },
                        "webappkey": {
                            "defaultValue": "YourKey",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "blobinfo": {
                                            "properties": {
                                                "batchid": {
                                                    "type": "string"
                                                },
                                                "canonicaluri": {
                                                    "type": "string"
                                                },
                                                "correlationid": {
                                                    "type": "string"
                                                },
                                                "fileName": {
                                                    "type": "string"
                                                },
                                                "fileType": {
                                                    "type": "string"
                                                },
                                                "sasExpiry": {
                                                    "type": "string"
                                                },
                                                "sasUri": {
                                                    "type": "string"
                                                },
                                                "systemVersion": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "string"
                                        },
                                        "enrichedLoadData": {
                                            "type": "string"
                                        },
                                        "loadData": {
                                            "type": "string"
                                        },
                                        "workspaceId": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "operationOptions": "EnableSchemaValidation"
                        }
                    },
                    "actions": {
                        "Call_Parser_to_convert_VI_insights_JSON_into_ACS_searchable_documents": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "values": [
                                        {
                                            "data": "@json(variables('viInsightsJSON'))",
                                            "recordId": "0"
                                        }
                                    ]
                                },
                                "headers": {
                                    "Accept": "application/json",
                                    "Content-Type": "application/json",
                                    "Ocp-Apim-Subscription-Key": "@parameters('webappkey')"
                                },
                                "method": "POST",
                                "uri": "@parameters('parserUrl')"
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Create_blob": {
                                    "runAfter": {
                                        "SuccessResponse": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "{\"sasUri\": \"@{triggerBody()?['blobinfo']?['sasUri']}\", \"insights\": @{variables('viInsightsJSON')}}",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "[parameters('insightsContainerName')]",
                                            "name": "@{variables('videoName')}_insights.json",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "SuccessResponse": {
                                    "runAfter": {},
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "statusCode": 200
                                    },
                                    "operationOptions": "Asynchronous"
                                }
                            },
                            "runAfter": {
                                "Wait_until_video_is_processed": [
                                    "Succeeded",
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "ErrorResponse": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": {
                                                "message": "Error: Failed to process video"
                                            },
                                            "schema": {
                                                "properties": {
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "statusCode": 500
                                        },
                                        "operationOptions": "Asynchronous"
                                    },
                                    "Terminate": {
                                        "runAfter": {
                                            "ErrorResponse": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Terminate",
                                        "inputs": {
                                            "runError": {
                                                "code": "500",
                                                "message": "Failed to process video"
                                            },
                                            "runStatus": "Failed"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('viResult')",
                                            "Processed"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "For_each_value": {
                            "foreach": "@body('Parse_JSON')?['values']",
                            "actions": {
                                "For_each_scene": {
                                    "foreach": "@items('For_each_value')?['data']?['scenes']",
                                    "actions": {
                                        "Do_we_have_a_keyFrame_Object": {
                                            "actions": {
                                                "Call_the_Classifier_Child_Workflow": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": "@items('For_each_scene')",
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "ENTER CLASSIFIER APP TRIGGER URL HERE"
                                                    }
                                                },
                                                "Save_the_enriched_Scene_Structure_to_blob": {
                                                    "runAfter": {
                                                        "Call_the_Classifier_Child_Workflow": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@body('Call_the_Classifier_Child_Workflow')",
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files",
                                                        "queries": {
                                                            "folderPath": "/scenes",
                                                            "name": "@{variables('counter')}_@{variables('transformed_videoName')}",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Set_variable_keyFrames": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(variables('keyframes'))",
                                                                true
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Increment_variable": {
                                            "runAfter": {
                                                "Do_we_have_a_keyFrame_Object": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                                "name": "counter",
                                                "value": 1
                                            }
                                        },
                                        "Set_variable_keyFrames": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "keyframes",
                                                "value": "@items('For_each_scene')?['keyFrames']"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Account_Access_Token": {
                            "runAfter": {
                                "Initialize_counter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['videoindexer-v2_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/auth/@{encodeURIComponent(parameters('viLocation'))}/Accounts/@{encodeURIComponent(parameters('AccountID'))}/AccessToken",
                                "queries": {
                                    "allowEdit": true
                                }
                            },
                            "description": "Get Video Indexer account access token."
                        },
                        "Initialize_canonicalUri": {
                            "runAfter": {
                                "Initialize_viProcessingStates": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "uri",
                                        "type": "string",
                                        "value": "@triggerBody()?['blobinfo']?['canonicaluri']"
                                    }
                                ]
                            }
                        },
                        "Initialize_counter": {
                            "runAfter": {
                                "Initialize_keyFrame_object": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "counter",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Initialize_keyFrame_object": {
                            "runAfter": {
                                "Initialize_transformed_videoName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "keyframes",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_sasAndInsights": {
                            "runAfter": {
                                "Initialize_viInsightsJSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sasAndInsights",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_transformed_videoName": {
                            "runAfter": {
                                "Initiialize_videoName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "transformed_videoName",
                                        "type": "string",
                                        "value": "@{variables('videoName')}_insights.json"
                                    }
                                ]
                            }
                        },
                        "Initialize_viInsightsJSON": {
                            "runAfter": {
                                "Initialize_canonicalUri": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "viInsightsJSON",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_viProcessingStates": {
                            "runAfter": {
                                "Initialize_viResult": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "viProcesingStates",
                                        "type": "array",
                                        "value": [
                                            "uploaded",
                                            "processing"
                                        ]
                                    }
                                ]
                            }
                        },
                        "Initialize_viResult": {
                            "runAfter": {},
                            "trackedProperties": {
                                "correlationId": "@{triggerBody()?['correlationId']}",
                                "fileName": "@{triggerBody()?['fileName']}",
                                "systemVersion": "@{triggerBody()?['systemVersion']}"
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "viResult",
                                        "type": "string"
                                    }
                                ]
                            },
                            "description": "Initialize the variable viResult, which stored the state of the video indexer job."
                        },
                        "Initiialize_videoName": {
                            "runAfter": {
                                "Initialize_sasAndInsights": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "videoName",
                                        "type": "string",
                                        "value": "@triggerBody()?['blobinfo']?['fileName']"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Call_Parser_to_convert_VI_insights_JSON_into_ACS_searchable_documents": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Call_Parser_to_convert_VI_insights_JSON_into_ACS_searchable_documents')",
                                "schema": {
                                    "properties": {
                                        "values": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "scenes": {
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "name"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "errors": {
                                                        "type": "string"
                                                    },
                                                    "recordId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "recordId",
                                                    "errors",
                                                    "data"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Upload_video_and_index": {
                            "runAfter": {
                                "Get_Account_Access_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['videoindexer-v2_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(parameters('viLocation'))}/Accounts/@{encodeURIComponent(parameters('AccountID'))}/Videos",
                                "queries": {
                                    "accessToken": "@body('Get_Account_Access_Token')",
                                    "language": "Auto",
                                    "name": "@variables('videoName')",
                                    "videoUrl": "@variables('uri')"
                                }
                            },
                            "description": "Upload the video to Video Indexer and initiate the job."
                        },
                        "Wait_until_video_is_processed": {
                            "actions": {
                                "Delay_by_iteration_*_30_seconds": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": "@mul(add(iterationIndexes('Wait_until_video_is_processed'), 1), 30)",
                                            "unit": "Second"
                                        }
                                    },
                                    "description": "Delay by 3 minutes."
                                },
                                "Get_Video_Index": {
                                    "runAfter": {
                                        "Delay_by_iteration_*_30_seconds": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['videoindexer-v2_1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/@{encodeURIComponent(parameters('viLocation'))}/Accounts/@{encodeURIComponent(parameters('AccountID'))}/Videos/@{encodeURIComponent(body('Upload_video_and_index')?['id'])}/Index",
                                        "queries": {
                                            "accessToken": "@body('Get_Account_Access_Token')",
                                            "language": "English"
                                        }
                                    },
                                    "description": "Attempt to get the video indexer result for the uploaded video"
                                },
                                "Set_viInsightsJSON": {
                                    "runAfter": {
                                        "Set_videoName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "viInsightsJSON",
                                        "value": "@{body('Get_Video_Index')}"
                                    }
                                },
                                "Set_viResult": {
                                    "runAfter": {
                                        "Set_viInsightsJSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "viResult",
                                        "value": "@{body('Get_Video_Index')?['state']}"
                                    },
                                    "description": "Set the viResult variable to the value of the video indexer job state."
                                },
                                "Set_viResult_On_Failure": {
                                    "runAfter": {
                                        "Get_Video_Index": [
                                            "Failed"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "viResult",
                                        "value": "Error"
                                    }
                                },
                                "Set_videoName": {
                                    "runAfter": {
                                        "Get_Video_Index": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "videoName",
                                        "value": "@body('Get_Video_Index')?['fileName']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Upload_video_and_index": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@not(contains(variables('viProcesingStates'), toLower(variables('viResult'))))",
                            "limit": {
                                "count": 120,
                                "timeout": "PT1H"
                            },
                            "type": "Until",
                            "description": "Check periodically whether the Video Indexer job has finished."
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
                            },
                            "videoindexer-v2_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_videoindexer_v2_name'))]",
                                "connectionName": "videoindexer-v2",
                                "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/videoindexer-v2')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2021-01-01",
            "name": "[concat(parameters('storageAccounts_videostorageacct_name'), '/default/', parameters('insightsContainerName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_videostorageacct_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_videostorageacct_name'))]"
            ],
            "properties": {
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_enrich_with_classifications_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "CLASSIFIER_KEY": {
                            "defaultValue": "YourKey",
                            "type": "String"
                        },
                        "CLASSIFIER_URL": {
                            "defaultValue": "ENTER CLASSIFIER POWER SKILL URL HERE",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "accountId": {
                                            "type": "string"
                                        },
                                        "brands": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "brand": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "endTime": {
                                            "type": "string"
                                        },
                                        "externalId": {},
                                        "framePatterns": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "key": {
                                            "type": "integer"
                                        },
                                        "keyFrames": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "properties": {
                                                            "end": {
                                                                "type": "string"
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "start": {
                                                                "type": "string"
                                                            },
                                                            "thumbnail": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "keyFrame": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "keywords": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "keyword": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "labels": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "metaData": {},
                                        "name": {
                                            "type": "string"
                                        },
                                        "ocrs": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "ocr": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "sentiments": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "sentimentType": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "startTime": {
                                            "type": "string"
                                        },
                                        "topics": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "topic": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "transcripts": {
                                            "items": {
                                                "properties": {
                                                    "assets": {
                                                        "type": "string"
                                                    },
                                                    "transcript": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose_search_doc_and_replace_the_keyframes_with_labelled_key_frames": {
                            "runAfter": {
                                "Process_keyframes_classify_image_and_output_new_keyframe_JSON_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@setProperty(triggerBody(), 'keyFrames', variables('newKeyFrames'))"
                        },
                        "Initialize_empty_key_frames_array": {
                            "runAfter": {
                                "Initialize_video_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "newKeyFrames",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_video_name": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "videoName",
                                        "type": "string",
                                        "value": "@{concat(triggerBody()?['id'], '-', split(triggerBody()?['name'], '.')[0], '.json')}"
                                    }
                                ]
                            }
                        },
                        "Process_keyframes_classify_image_and_output_new_keyframe_JSON_": {
                            "foreach": "@triggerBody()?['keyFrames']",
                            "actions": {
                                "Append_new_keyframe_element_to_array_variable": {
                                    "runAfter": {
                                        "Compose_new_keyframe_json_element": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "newKeyFrames",
                                        "value": "@outputs('Compose_new_keyframe_json_element')"
                                    }
                                },
                                "Call_key_frame_classifier_powerskill": {
                                    "runAfter": {
                                        "Compose_classifier_request": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": "@outputs('Compose_classifier_request')",
                                        "headers": {
                                            "Accept": "application/json",
                                            "Content-Type": "application/json",
                                            "Ocp-Apim-Subscription-Key": "@parameters('CLASSIFIER_KEY')"
                                        },
                                        "method": "POST",
                                        "uri": "@parameters('CLASSIFIER_URL')"
                                    }
                                },
                                "Compose_classifier_request": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": {
                                        "values": [
                                            {
                                                "data": {
                                                    "keyFrames": [
                                                        {
                                                            "keyFrameThumbNailLabel": "",
                                                            "keyframeThumbNail": "@{concat('KeyFrameThumbnail_',item()?['assets']['thumbnail'],'.jpg')}",
                                                            "videoId": "@{split(triggerBody()?['id'], '-')[0]}"
                                                        }
                                                    ]
                                                },
                                                "recordId": "0"
                                            }
                                        ]
                                    }
                                },
                                "Compose_new_keyframe_json_element": {
                                    "runAfter": {
                                        "Call_key_frame_classifier_powerskill": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "assets": {
                                            "end": "@{items('Process_keyframes_classify_image_and_output_new_keyframe_JSON_')['assets']['end']}",
                                            "label": "@{outputs('Call_key_frame_classifier_powerskill')['body']['values'][0]['data']['keyFrameLabels'][0]['keyFrameThumbNailLabel']}",
                                            "start": "@{items('Process_keyframes_classify_image_and_output_new_keyframe_JSON_')['assets']['end']}",
                                            "thumbnail": "@{items('Process_keyframes_classify_image_and_output_new_keyframe_JSON_')?['assets']?['thumbnail']}"
                                        },
                                        "keyFrame": "@{items('Process_keyframes_classify_image_and_output_new_keyframe_JSON_')?['keyFrame']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_empty_key_frames_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Compose_search_doc_and_replace_the_keyframes_with_labelled_key_frames": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@outputs('Compose_search_doc_and_replace_the_keyframes_with_labelled_key_frames')",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}