AIEnrichmentPipeline/logicapp/imageworkflow/armtemplate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowName": {
            "type": "string"
        },
        "imageResizeFuncId": {
            "type": "string"
        },
        "computerVisionKey": {
            "type": "securestring"
        },
        "computerVisionUri": {
            "type": "string"
        },
        "computerVisionVersion": {
            "type": "string",
            "defaultValue": "3.1"
        },
        "storageAccountName": {
            "type": "string"
        },
        "storageAccountKey": {
            "type": "securestring"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        }
    },
    "variables": {
        "azureblobConnName": "[concat(parameters('workflowName'), 'azureblobconn')]",
        "azureblobConnDisplayName": "[concat(parameters('workflowName'), 'azureblobconn')]",
        "azureblobConnectionApiID": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureblobConnName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('azureblobConnDisplayName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[variables('azureblobConnectionApiID')]"
                },
                "parameterValues": {
                    "accessKey": "[parameters('storageAccountKey')]",
                    "accountName": "[parameters('storageAccountName')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azureblobConnName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ComputerVisionKey": {
                            "defaultValue": "[parameters('computerVisionKey')]",
                            "type": "securestring"
                        },
                        "ComputerVisionUri": {
                            "defaultValue": "[parameters('computerVisionUri')]",
                            "type": "String"
                        },
                        "ComputerVisionVersion": {
                            "defaultValue": "[parameters('computerVisionVersion')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "canonicalUri": {
                                            "type": "string"
                                        },
                                        "correlationId": {
                                            "type": "string"
                                        },
                                        "fileName": {
                                            "type": "string"
                                        },
                                        "fileCategory": {
                                            "type": "string"
                                        },
                                        "sasExpiry": {
                                            "type": "string"
                                        },
                                        "sasUri": {},
                                        "systemVersion": {
                                            "type": "string"
                                        },
                                        "hash": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "operationOptions": "EnableSchemaValidation",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "runs": 50,
                                    "maximumWaitingRuns": 100
                                }
                            }
                        }
                    },
                    "actions": {
                        "ResizeImage": {
                            "inputs": {
                                "body": "@body('Get File From Storage')",
                                "queries": {
                                    "filename": "@{triggerBody()?['fileName']}"
                                },
                                "function": {
                                    "id": "[parameters('imageresizeFuncId')]"
                                },
                                "headers": {
                                    "x-ms-client-tracking-id": "@{triggerBody()?['correlationId']}"
                                },
                                "method": "POST"
                            },
                            "operationOptions": "SuppressWorkflowHeaders",
                            "runAfter": {
                                "Get File From Storage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function"
                        },
                        "Call_ComputerVision_Analyze": {
                            "runAfter": {
                                "ResizeImage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@body('ResizeImage')",
                                "headers": {
                                    "Content-Type": "application/octet-stream",
                                    "Ocp-Apim-Subscription-Key": "@parameters('ComputerVisionKey')",
                                    "x-ms-client-tracking-id": "@{triggerBody()?['correlationId']}"
                                },
                                "method": "POST",
                                "queries": {
                                    "details": "Landmarks",
                                    "visualFeatures": "Objects,Faces,Tags,Adult"
                                },
                                "uri": "@{concat(parameters('ComputerVisionUri'), 'vision/v', parameters('computerVisionVersion'), '/analyze')}"
                            }
                        },
                        "Call_ComputerVision_Describe": {
                            "runAfter": {
                                "ResizeImage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@body('ResizeImage')",
                                "headers": {
                                    "Content-Type": "application/octet-stream",
                                    "Ocp-Apim-Subscription-Key": "@parameters('ComputerVisionKey')"
                                },
                                "method": "POST",
                                "uri": "@{concat(parameters('ComputerVisionUri'), 'vision/v', parameters('computerVisionVersion'), '/describe')}"
                            }
                        },
                        "Combine_ComputerVision_Responses": {
                            "runAfter": {
                                "Call_ComputerVision_Analyze": [
                                    "Succeeded"
                                ],
                                "Call_ComputerVision_Describe": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "analyze": "@body('Call_ComputerVision_Analyze')",
                                "describe": "@body('Call_ComputerVision_Describe')"
                            }
                        },
                        "Get File From Storage": {
                            "runAfter": {},
                            "trackedProperties": {
                                "correlationId": "@{triggerBody()?['correlationId']}",
                                "fileName": "@{triggerBody()?['fileName']}",
                                "systemVersion": "@{triggerBody()?['systemVersion']}"
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "@{triggerBody()?['sasUri']}"
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Combine_ComputerVision_Responses": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@outputs('Combine_ComputerVision_Responses')",
                                "statusCode": 200
                            },
                            "operationOptions": "Asynchronous"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureblobConnName'))]",
                                "connectionName": "azureblob",
                                "id": "[variables('azureblobConnectionApiID')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logic_app_id": {
            "value": "[resourceId('Microsoft.Logic/workflows',parameters('workflowName'))]",
            "type": "string"
        },
        "logic_app_uri": {
            "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers',parameters('workflowName'),'manual'), '2017-07-01').value]",
            "type": "string"
        }
    }
}